.user-profile {
    width: 80%;
    margin: 0 auto;
}

.user__details {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.user__img {
    flex-basis: 40%;
    margin-right: 10px;
    /* border: 1px solid red; */
}

.user__info {
    /* border: 1px solid blue; */
    flex-basis: 40%;
}
